######################################################
# Memory caping for containers : 3g
MEM_LIMIT=3g

######################################################
# indiquer le host du logstash vers lequel on souhaite envoyer les logs
LOGSTASH_HOST=

